<!DOCTYPE html>
<html class="body-blocked" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pocket Manager</title>
    <meta name="description" content="We created the Pocket Manager so that everyone can have access to basic budgeting help. We make budgeting easier and flexible for regular people. Help Is Always Free.">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap" rel="stylesheet">
    <!-- Fonts END -->

    <!-- Libraries -->
    <link href="/css/libs.css" rel="stylesheet">
    <!-- Libraries END -->

    <!-- MIN Styles -->
    <link href="/css/main.min.css" rel="stylesheet">
    <!-- MIN Styles END -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]
	      -->
</head>
<body>
<!-- ******************************** MAIN PRELOADER ***************************************** -->
<div class="preloader">
    <div class="preloader__content">
        <img class="preloader__logo" src="/svg/logo.svg">
        <div class="progressbar"></div>
    </div>
</div>
<!-- ******************************** MAIN PRELOADER END ***************************************** -->
<main>
    <section class="sign-page sign-page_recovery">
        <div class="sign-wrap">
            <div class="sign-wrap__welcome">
                <div class="sign-wrap__welcome-content">
                    <a href="index.html">
                        <img src="/svg/logo.svg">
                    </a>
                    <h1>Manage your <br>finance easily</h1>
                </div>
                <a class="text-link text-link_back" href="index.html">
                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65685 15.0711L0.292892 8.70716C-0.0976315 8.31664 -0.0976315 7.68347 0.292892 7.29295L6.65685 0.928985C7.04738 0.53846 7.68054 0.53846 8.07107 0.928985C8.46159 1.31951 8.46159 1.95267 8.07107 2.3432L3.41421 7.00005L19 7.00005V9.00005L3.41421 9.00005L8.07107 13.6569C8.46159 14.0474 8.46159 14.6806 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711Z" fill="white"/>
                    </svg>
                    Back to home</a>
            </div>
            <div class="sign-wrap__form">
                <div class="sign-form sign-form_one-col">
                    <div class="sign-form__head sign-form__head_title">
                        <h2>Recovery password</h2>
                        <p>Enter your email and we will send you a link to reset your password</p>
                    </div>
                    <div class="sign-form__body">
                        <form class="my-form">
                            <label class="inp">
                                <input id="userEmail" name="email" type="email" placeholder="&nbsp;">
                                <span class="placeholder">Email</span>
                                <svg class="input-image" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.1742 3.75C22.8505 3.75 24.463 4.4125 25.6492 5.60125C26.8367 6.7875 27.5005 8.3875 27.5005 10.0625V19.9375C27.5005 23.425 24.663 26.25 21.1742 26.25H8.82549C5.33674 26.25 2.50049 23.425 2.50049 19.9375V10.0625C2.50049 6.575 5.32424 3.75 8.82549 3.75H21.1742ZM23.163 11.925L23.263 11.825C23.5617 11.4625 23.5617 10.9375 23.2492 10.575C23.0755 10.3887 22.8367 10.275 22.588 10.25C22.3255 10.2362 22.0755 10.325 21.8867 10.5L16.2505 15C15.5255 15.6013 14.4867 15.6013 13.7505 15L8.12549 10.5C7.73674 10.2125 7.19924 10.25 6.87549 10.5875C6.53799 10.925 6.50049 11.4625 6.78674 11.8375L6.95049 12L12.638 16.4375C13.338 16.9875 14.1867 17.2875 15.0755 17.2875C15.9617 17.2875 16.8255 16.9875 17.5242 16.4375L23.163 11.925Z" fill="#AAB9DF"/>
                                </svg>

                                <small class="error-message"></small>
                            </label>
                            <div class="form-button-row">
                                <button type="submit" class="my-button">
                                    <span class="button-name">Send link</span>
                                </button>
                                <a href="sign-in.html" class="my-button my-button_secondary">
                                    <span class="button-name">Back to Sign In</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="js/common.js"></script>
</body>
</html>
