<!DOCTYPE html>
<html class="body-blocked" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pocket Manager</title>
    <meta name="description" content="We created the Pocket Manager so that everyone can have access to basic budgeting help. We make budgeting easier and flexible for regular people. Help Is Always Free.">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap" rel="stylesheet">
    <!-- Fonts END -->

    <!-- Libraries -->
    <link href="css/libs.css" rel="stylesheet">
    <!-- Libraries END -->

    <!-- MIN Styles -->
    <link href="css/main.min.css" rel="stylesheet">
    <!-- MIN Styles END -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]
	      -->
</head>
<body>
<!-- ******************************** MAIN PRELOADER ***************************************** -->
<div class="preloader">
    <div class="preloader__content">
        <img class="preloader__logo" src="svg/logo.svg">
        <div class="progressbar"></div>
    </div>
</div>
<!-- ******************************** MAIN PRELOADER END ***************************************** -->
<main>
    <section class="sign-page">
        <div class="sign-wrap">
            <div class="sign-wrap__welcome">
                <div class="sign-wrap__welcome-content">
                    <a href="index">
                        <img src="svg/logo.svg">
                    </a>
                    <h1>Manage your <br>finance easily</h1>
                </div>
                <a class="text-link text-link_back" href="index">
                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65685 15.0711L0.292892 8.70716C-0.0976315 8.31664 -0.0976315 7.68347 0.292892 7.29295L6.65685 0.928985C7.04738 0.53846 7.68054 0.53846 8.07107 0.928985C8.46159 1.31951 8.46159 1.95267 8.07107 2.3432L3.41421 7.00005L19 7.00005V9.00005L3.41421 9.00005L8.07107 13.6569C8.46159 14.0474 8.46159 14.6806 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711Z" fill="white"/>
                    </svg>
                    Back to home</a>
            </div>
            <div class="sign-wrap__form">
                <div class="sign-form sign-form_one-col">
                    <div class="sign-form__head">
                        <a href="#" class="sign-link sign-link_active">Sign In</a>
                        <a href="sign-up" class="sign-link">Sign Up</a>
                        <div th:if="${param.error}">
                            <div style="color: red" class="alert alert-danger">Invalid Email or Password.</div>
                        </div>
                        <div th:if="${param.logout}">
                            <div style="color: lime" class="alert alert-success">You have been logged out.</div>
                        </div>
                    </div>
                    <div class="sign-form__body">
                        <form class="my-form"method="post" th:action="@{/sign-in}">
                            <label class="inp">
                                <input id="userLogin" name="email" type="text" placeholder="&nbsp;">
                                <span class="placeholder">Email</span>
                                <svg class="input-image" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6175 9.11382C21.6175 12.7851 18.6739 15.7289 15 15.7289C11.3274 15.7289 8.38252 12.7851 8.38252 9.11382C8.38252 5.44253 11.3274 2.5 15 2.5C18.6739 2.5 21.6175 5.44253 21.6175 9.11382ZM15 27.5C9.57797 27.5 5 26.6187 5 23.2187C5 19.8174 9.60673 18.9674 15 18.9674C20.4233 18.9674 25 19.8487 25 23.2487C25 26.65 20.3933 27.5 15 27.5Z" fill="#AAB9DF"/>
                                </svg>

                                <small class="error-message"></small>
                            </label>
                            <label class="inp">
                                <input id="userPassword" name="password" type="password" placeholder="&nbsp;">
                                <span class="placeholder">Password</span>
                                <svg class="input-image" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9034 9.24501V11.1617C24.0563 11.8337 25.625 13.7827 25.625 16.1105V22.2816C25.625 25.1635 23.2358 27.5 20.2903 27.5H9.711C6.7642 27.5 4.375 25.1635 4.375 22.2816V16.1105C4.375 13.7827 5.94493 11.8337 8.09661 11.1617V9.24501C8.10931 5.51848 11.1958 2.5 14.9809 2.5C18.8169 2.5 21.9034 5.51848 21.9034 9.24501ZM15.0064 4.67381C17.5848 4.67381 19.6806 6.72339 19.6806 9.24501V10.8921H10.3194V9.22016C10.3321 6.71097 12.4279 4.67381 15.0064 4.67381ZM16.1114 20.5687C16.1114 21.1773 15.616 21.6618 14.9936 21.6618C14.384 21.6618 13.8886 21.1773 13.8886 20.5687V17.811C13.8886 17.2148 14.384 16.7303 14.9936 16.7303C15.616 16.7303 16.1114 17.2148 16.1114 17.811V20.5687Z" fill="#AAB9DF"/>
                                </svg>
                                <button type="button" toggle="#userPassword" class="password-toggle password-toggle_show">
                                    <img class="password-toggle__icon password-toggle__icon_show" src="svg/show-icon.svg">
                                    <img class="password-toggle__icon password-toggle__icon_hide" src="svg/hide-icon.svg">
                                </button>
                                <small class="error-message"></small>
                            </label>
                            <div class="form-button-row">
                                <button type="submit" class="project-button contact-button btn-contact-modal my-button">
                                    <span class="button-name">Sign In</span>
                                </button>
                                <p class="text-link"><a href="recovery-pas">Forgot password?</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="text-link">Don’t have an account? <a href="sign-up">Create account</a></p>
            </div>
        </div>
    </section>
</main>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="js/common.js"></script>
</body>
</html>
